.box-footerFix {
    width: 100px;
    height: 100px;
    background-color: purple;
}
.box-center {
    width: 100px;
    height: 100px;
}
.box-right {
    width: 50px;
    height: 100px;
}
.box-top {
    width: 150px;
    height: 50px;
}
.box-left {
    width: 50px;
    height: 150px;
}
.box-bottom {
    width: 200px;
    height: 50px;
    background-color: rgba(226, 99, 36, 0.55);
}
.box-right, .box-left, .box-bottom, .box-top, .box-center {
    border: 1px solid red;
}
.column {
    float: left;
}
.clearfix {
    clear: both;
}
div {
    box-sizing: border-box;
}